.infos-section{
    border: 1px solid var(--vert);
    background-color: var(--noir);

    width: calc(100% - 2px);
    padding-top:1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.progressbar{
    border: 1px solid var(--vert);
    border-left: none;
    width: calc(200% - 1px);
    height: 20px;
    display: inline-block;
    overflow: hidden;
    box-shadow: 0px 0px 10px 1px var(--vert);
}

.progressbar-stripe{
    width: 30px;
    animation: translate 1s infinite linear;
}

.progressbar-stripe::after{
    box-shadow: 0px 0px 10px 1px var(--vert);
}

.progressbar-stripe polygon{
    fill: var(--vert);
    transform:  translate(10px, 0px) rotate(30deg);
    box-shadow: 0px 0px 10px 1px var(--vert);
}

.infos-section-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    color: var(--vert);
    font-family: monospace;
}

.infos-section-content .info{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

@keyframes translate{
    0%{
        transform: translateX(-30px);
    }
    100%{
        transform: translateX(0px);
    }
}