.artist-slide{
    width: 375px;
    max-width: 375px;
    height: 200px;

    overflow: hidden;
    position: relative;
}

.artist-image{
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    position: absolute;
    top: 1px;

    z-index: -1;
}

.artist-svg{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 50%;
}

.artist-polygon{
    fill:var(--vert);
    stroke-width:0;
}

.artist-name{
    position: absolute;
    top: 0;
    left: 10px;

    color: black;
    font-family: Raleway, Sura, sans-serif;
    font-size: 15pt;
    font-weight: 800;
    line-height: 20px;

    max-width: 160px;
}

.instagram-link{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
}

.facebook-link{
    position: absolute;
    top: 0;
    right: 30px;
    width: 30px;
    height: 30px;
}

.media-icon{
    position: absolute;
    fill: var(--vert);
}
.swiper-pagination{
    width: 100px!important;
    left: calc(50% - 50px)!important;
}