.section-footer{
    position: absolute;
    z-index: 2;
    top: calc(100vh - 150px);
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    color: var(--vert);
}

.footer-scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.section-footer h2{
    font-family: Raleway, Sura, serif;
    font-weight: 400;
    margin-bottom: 5px;
}

.section-footer img{
    animation: hover 5s infinite linear;
}

@keyframes hover{
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(+5px);
    }
    100%{
        transform: translateY(-5px);
    }
}
