.landing-section{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lien-billetterie{
    z-index: 2;
}

.ticketing-label{
    color: var(--vert);
    font-family: Raleway Sura, sans-serif;
}

.bouton-billetterie{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid var(--vert);
    background-color: rgba(0,0,0,0.1);
    font-family: Raleway, Sura, sans-serif;
    font-weight: 700;
    color: var(--vert);
    backdrop-filter: blur(1px);
}

.star-glow-wrap{
    position: absolute;
    animation: glow 10s infinite ease-in-out;
}

.star-glow-wide{
    height: 100vh;
    width: 100vw;
    opacity: 0.3;
    background: radial-gradient(circle at 80vw 40vh,var(--vert) 1%, rgba(0,0,0,0) 72%);
}

.star-glow{
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: 0.8;
    background: radial-gradient(circle at 80vw 40vh,var(--vert) 1%, rgba(0,0,0,0) 5%);
}

#pieuvre{
    position: absolute;
    top: 50vh;
    left: 10vw;
    animation: squid-hover 10s infinite ease-in-out;
}

#lune{
    position: absolute;
    top: 1vh;
    left: calc(80vw - 100px);
}

#logo{
    z-index: 1;
    width: 80vw;
    -webkit-transform: translate3d(0,0,0);
}
#date-heure{
    width: 70vw;
    z-index: 2;
    margin-top: 20px;
    margin-bottom: 40px;
}

@keyframes glow {
    0%{
        opacity: 0;
    }
    40%{
        opacity: 1;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

@keyframes squid-hover{
    0%{
        transform: translateY(-30px);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(-30px);
    }
}

@media only screen and (min-width: 500px){
    #lune{
        width: 200px;
    }
    #pieuvre{
        width: 200px;
        top: 50vh;
    }
    #logo{
        width: 300px;
    }
    .star-glow{
        background: radial-gradient(circle at calc(50vw + 115px) 37vh,var(--vert) 1%, rgba(0,0,0,0) 5%);
    }
    .star-glow-wide{
        background: radial-gradient(circle at calc(50vw + 115px) 37vh,var(--vert) 1%, rgba(0,0,0,0) 72%);
    }
    #date-heure{
        width: 300px;
        z-index: 2;
    }
}
