:root{
  --noir: #131B23;
  --vert: #02FEB0;
  --rouge: #EF767A;
  --jaune: #FFE381;
  --bleu: #7D7ABC;

}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--noir);
}





